*.swp
*~
*.patch
*/fishd.*
*.elc
*.#*
fish_history

elpa/
straight/
eln-cache/
auto-save-list/

session.*
recentf
ido.last
ac-comphist.dat
nov-places
places
tramp

*.db
.org-id-locations

myoungjin-init.el
